.heading{
    text-align: center;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}